.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}

.main {
  display: flex;
  min-height: 100%;
  justify-content: center;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #808080;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(59, 59, 59);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(59, 59, 59);
}

.listSelected {
  background-color: #ffa600;
}

.icon {
  color: black;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  max-height: 10;
}
.icon:hover {
  color: rgb(141, 142, 148);
}

.dumbIcon {
  color: black;
  min-width: 30px;
  min-height: 20px;
}

.eye {
  color: white;
  cursor: pointer;
  max-width: 30px;
  max-height: 20px;
}
.eye:hover {
  color: rgb(177, 177, 177);
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
a {
    margin: 0;
    padding-top: 4;
    padding-left: 10;
    font-size: 12;
    color: black;
    text-align: left;
    cursor:default;
}
.resizerb:hover {
  cursor: ne-resize;
}
.resizelt:hover {
  cursor: se-resize;
}
.grab {
  cursor: grab;
}
.project:hover {
  cursor: pointer;
  background-color: #d4d4d4;
}